@font-face {
  font-family: Cyberverse;
  src: url(../fonts/Cyberverse.otf);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: black;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #50e416;
  font-family: Cyberverse, Helvetica, Arial, sans-serif;
}

.clock {
  text-align: center;
  border: solid 5px #50e416;
  border-radius: 0.5rem;
  padding: 2rem;
  width: 25rem;
}
.display {
  color: #50e416;
  font-size: 4rem;
}
